<% @ideas.each do |idea| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to idea.title, idea %><br>
      <small class="author">Submitted <%= time_ago_in_words(idea.created_at) %> ago by <%= idea.user.email %></small>
    </h2>
  </div>
  <% end %>
