<div class="page-header">
  <h1>
    <%= @idea.title %>
  </h1>
  <br>
  <h3>
    <%= @idea.description %>
  </h3>
</div>


<% if @idea.user == current_user %>
  <div class="btn-group">
    <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-default" %>
		<%= link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  </div>
<% end %>
